PORT=3041

SSL_CERTS_DIR="certs"
PG_PASSWORD_URLENCODED="true"
PG_SSL_VERIFY_CA="true"

# Opcionales, con defaults en src/config/env.js:
# PG_POOL_MAX=10
# PG_IDLE_TIMEOUT_MS=30000
# PG_CONNECT_TIMEOUT_MS=15000


###### INSTANCIA 1
HOST_POSTGRES=""
USR_POSTGRES=""
PWD_POSTGRES=""

USR_GES=""
PWD_GES=""
HOST_GES=""
DATABASE_GES="DIMA_GES"

SSL_CERT_POSTGRES="server-ca.pem"
SSL_IDENTITY_POSTGRES="client-identity.p12"
SSL_PWD_POSTGRES=""


###### INSTANCIA 2
HOST_POSTGRES_TWO=""
USR_POSTGRES_TWO=""
PWD_POSTGRES_TWO=""

USR_GES_TWO=""
PWD_GES_TWO=""
HOST_GES_TWO=""
DATABASE_GES_TWO="DIMA_GES"

SSL_CERT_POSTGRES_TWO="rw-instance-2-server-ca.pem"
SSL_IDENTITY_POSTGRES_TWO="rw-instance-2-client-identity.p12"
SSL_PWD_POSTGRES_TWO=""
